QWidget#central {
    background: transparent;
}

QWidget#titlebar {
    background: #252525;
}

QWidget#title-separator {
    background: #aaa;
}

QWidget#separator {
    background: #aaa;
}

QLabel#title {
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 500;
}

QPushButton {
    color: #aaa;
    background: transparent;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

QPushButton:focus {
    outline: none;
}

QPushButton:hover {
    background: #404040;
}

QPushButton#btnClose:hover {
    background: #e81123;
    color: white;
}

QWidget#content {
    background: #181818;
    color: #ddd;
}

QWidget#credits QLabel {
    color: #aaa;
    padding: 0px 0px;
    font-family: Segoe UI;
    font-size: 15pt;
}

QWidget#credits QLabel#top {
    font-size: 18pt;
    font-style: italic;
    font-weight: 600;
}

QWidget#notes-edit QLineEdit {
    background: #2d2d2d;
    color: #e0e0e0;
    font-family: Segoe UI;
    font-size: 13pt;
    border: 2px solid #555555;
    border-radius: 10px;
    padding: 8px 14px;
}

QWidget#notes-edit QLineEdit:focus {
    border: 2px solid #4a90e2;
    background: #363636;
}

QLabel#note-edit-status {
    background: #2d2d2d;
    border: 2px solid #555555;
    border-radius: 10px;
    font-family: Segoe UI;
    font-size: 16pt;
    color: #aaa;
}

QWidget#timeline-marker-container {
    background: #2d2d2d;
    border: 2px solid #555555;
    border-radius: 20px;
}

QWidget#miss-marker-container {
    background: #2d2d2d;
    border: 2px solid #cc2222;
    border-radius: 20px;
}

QWidget#timeline-marker-container[active=true] {
    border: 2px solid #4a90e2;
}

QWidget#miss-marker-container[active=true] {
    border: 2px solid #4a90e2;
}

QPushButton#timeline-marker-label {
    background: transparent;
    border: none;
    border-radius: 20px;
    color: #e0e0e0;
    font-family: Segoe UI;
    font-size: 11pt;
}

QPushButton#timeline-marker-label:hover {
    font-weight: 800;
}

QPushButton#timeline-marker-delete {
    color: #aaa;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-size: 9pt;
}

QPushButton#timeline-marker-delete:hover {
    background: #e81123;
    color: white;
}

QScrollArea {
    background: #1e1e1e;
    border: 1px solid #555;
}

QScrollArea QWidget {
    background: #1e1e1e;
}

QScrollBar:horizontal {
    height: 10px;
    background: #2d2d2d;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
    background: #5a5a5a;
    min-width: 40px;
    border-radius: 5px;
}

QScrollBar::handle:horizontal:hover {
    background: #777;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    width: 0px;
    height: 0px;
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QLabel#section-label {
    color: #ccc;
    font-family: Segoe UI;
    font-size: 11pt;
}

QPushButton#add {
    color: #68c627;
    font-size: 12pt;
    border: 2px solid #68c627;
    border-radius: 15px;
    padding: 0px 0px 3px 2px;
}

QPushButton#clear {
    color: #cc2222;
    font-size: 8pt;
    border: 2px solid #cc2222;
    border-radius: 15px;
    padding: 0px 0px 1px 1px;
}

QToolTip {
    background-color: #252525;
    color: #aaa;
    border: none;
    font-family: Segoe UI;
    font-size: 11pt;
}

QWidget#settings {
    background: #181818;
}


QWidget#settings QPushButton {
    font-family: Segoe UI;
    font-size: 11pt;
    color: black;
    background-color: #bbb;
    border-radius: 4px;
    height: 23px;
}

QWidget#settings QPushButton:hover {
    background-color: #d7d7d7;
}

QWidget#settings QLabel {
    font-family: Segoe UI;
    font-size: 11pt;
    color: #aaa;
}

QWidget#settings QGroupBox {
    font-family: Segoe UI;
    font-size: 11pt;
    color: #aaa;
    border: 2px solid #666;
    border-radius: 5px;
    margin-top: 12px;
}

QWidget#settings QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 15px;
    padding: 3px 5px;
}

QWidget#settings QLineEdit {
    color: #E0E0E0;
    background-color: #2A2A2A;
    border: 2px solid #555555;
    border-radius: 4px;
    font-size: 14px;
    min-height: 20px;
    selection-color: black;
    selection-background-color: #ddd;
}


QWidget#settings QCheckBox {
    color: #E0E0E0;
}

QWidget#settings QCheckBox::indicator {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid #555;
    background-color: #2A2A2A;
}

QWidget#settings QCheckBox::indicator:pressed {
    background-color: #1E1E1E;
}

QWidget#settings QCheckBox::indicator:checked {
    background-color: #a6a6a6;
    border: 2px solid #ccc;
}

QWidget#settings QCheckBox::indicator:checked:pressed {
    background-color: #bbb;
}


QWidget#settings QSpinBox {
    color: #E0E0E0;
    background-color: #2A2A2A;
    border: 2px solid #555555;
    border-radius: 4px;
    font-size: 14px;
    min-height: 20px;
    selection-color: black;
    selection-background-color: #ddd;
}

QWidget#settings QSpinBox:focus {
    border: 2px solid #a6a6a6;
    background-color: #333333;
}

QWidget#settings QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    border: none;
    background-color: none;
}

QWidget#settings QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    border: none;
    background-color: none;
}

QMenu::item {
    color: #ccc;
    padding: 5px 10px 5px 10px;
}

QMenu::item:selected {
    background-color: #333;
}
